{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block scripts %}
    {{ super() }}
{#    markdown#}
    {{ pagedown.include_pagedown() }}
{% endblock %}
{% block page_content %}
<h2>
    {{ blog.title }}
    <div class="post-col">
    <div class="widget-vote">
        <input type="hidden">
        <a href="{{ url_for('blog.votes',link=blog.link,count=blog.vote) }}" title="点个赞再走呗" style="font-size: 24px">star
        </a>
        <span class="vote-count" style="font-size: 16px;color: #285e8e">
            {{ blog.vote }}
        </span>
    </div>
    </div>
</h2>
<div>
    <div class='col-xs-6'>
        {% if blog.body_html %}
          {{ blog.body_html|safe }}
        {% else %}
          {{ blog.body }}
        {% endif %}
    </div>

</div>





{% endblock %}