{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    page-content
{% endblock %}


{% block scripts %}
    {{ super() }}
{#    markdown#}
    {{ pagedown.include_pagedown() }}
    {# <scriptsrc="{{url_for('blog', filename='change_page.js')}}"></script> #}
<script type="text/javascript">

$(function (url) {
    $('button#change_apage').bind(
        'click',
        function () {
            document.getElementById("demo").innerHTML = Date();
        });
});

</script>

{% endblock %}


{% block page_content %}
<table class="table table-hover" >
    <thead>
        <th class="active">No</th>
        <th class="active">Title</th>
        <th class="active">Author</th>
        <th class="active">Publish_time</th>

    </thead>
    <tbody>
        {% for blog in blogs %}

            <!-- tr -->

            <tr class="info">
                <td>{{ loop.index }}</td>
                <td><a href='{{ url_for('blog.show_blog_info',link=blog.get('link')) }}' class="btn btn-success" role ="button">{{ blog.get('title')}}</a></td>
                <td>{{ blog['link'].split('/')[0] }}</td>
                <td>{{ blog['publish_time'] }}</td>

            </tr>
        {% endfor %}

    </tbody>
</table>
    <div>
    <style>
.div-a{ float:left;width:30%;border:1px }
.div-b{ float:left;width:30%;border:1px }
</style>
    {% if form %}

<!-- Button trigger modal -->

        <div class="div-a">
            <div class="btn-group btn-group-taggle">

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> ADD </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center">add new blog</h4>
      </div>

      <div class="modal-body">
          <div class="row">
              <div class='input-lg' style="height: 800px; background-color: white; margin: 0 auto">
                  {{ wtf.quick_form(form, form_type="horizontal") }}
              </div>
          </div>
      </div> <!-- modal body -->

    </div> </div>
</div>
            </div>
        </div>
    {% endif %}
    <div>
    {{ wtf.quick_form(search_form)}}
    </div>



    </div>

        <div id="change_apage">
            <div>
            {% if page!=1 %}

            <a href='{{ url_for('blog.next_or_last_page',down='last',page= page,search_key = keyword )}}'><--</a>
                </div>
            {% endif %}
        <div>
            <a href='{{ url_for('blog.next_or_last_page',down='next',page= page ,search_key = keyword)}}'>--></a>
        </div>

        </div>
    <button id="change_apage" >now
    </button>
    <p id="demo">l</p>
{% endblock %}
